version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-3.7
      - test-2.7

jobs:
  test-3.7:
    docker:
      - image: python:3.7-stretch

    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-py3-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            apt-get -qq update && apt-get -y -qq install libtag1-dev
            python -V
            test $(python2 -c 'import sys; print(sys.version_info.major)') -eq 2 && apt-get -y -qq install python-virtualenv
            virtualenv venv
            . venv/bin/activate
            pip install cython pytest
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-py3-{{ checksum "requirements.txt" }}
      - run:
          name: build cython module
          command: |
            virtualenv venv
            . venv/bin/activate
            python setup.py build --cython

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python setup.py test
  test-2.7:
    docker:
      - image: python:2.7-stretch
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-py3-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            apt-get -qq update && apt-get -y -qq install libtag1-dev python-virtualenv python-dev
            python -V
            virtualenv venv
            . venv/bin/activate
            pip install cython pytest
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-py3-{{ checksum "requirements.txt" }}
      - run:
          name: build cython module
          command: |
            virtualenv venv
            . venv/bin/activate
            python setup.py build --cython

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python setup.py test
